.padding-left-10 {
    padding-left: 10px;
}

.padding-left-5 {
    padding-left: 5px;
}

.align-center {
    text-align: center;
}

.w-90 {
    width: 90%;
}

.margin-top-bottom-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}